*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: block;
    background-color: rgb(15, 231, 224);
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}


/* Siempre se recomiendo ponerlas al final */
@media (max-width:600px) {
    .container{
        background-color: rgb(241, 117, 7);
        border-radius:20px;
        width: 50%;
        border-radius: 30%;
    }  
}

@media (min-width:600px) {
    .container{
        background-color: rgb(173, 173, 194);
        padding: 2em;
    }
    
}