
:root{
  --Dark-Violet: hsl(256, 26%, 20%);
  --Grayish-Blue: hsl(216, 30%, 68%);
  --Very-Dark-Violet: hsl(270, 9%, 17%);
  --Dark-Grayish-Violet: hsl(273, 4%, 51%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --font1:'DM Serif Display', serif;
  --font2:'Karla', sans-serif;
  --padding-container: 80px 0;
}

*{
  box-sizing: border-box;
  margin: 0;

}

body{
  font-family: var(--font1);
}

.container{
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
  padding: var(--padding-container);
}

.nav{
  background-color: white;
}

.nav__container{
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__links{
  display: none;
}

.nav__icon, .nav__img{
  display:block ;
}

.hero{
  background-color:var(--Dark-Violet);
}

.hero__main{
  width: 100%;
}

.hero__main::before{
  content: "";
  display: block;
  height: 370px;
  background-image: url('./images/image-intro-mobile.jpg'); 
  background-size:cover;
  background-position: center;
  background-repeat:no-repeat;
  
}

.hero__texts{
  color:white;
  width: 90%;
  margin: 0 auto;
  padding: 80px 0;
  text-align: center;
}


.title{
  font-size:2.5 rem;
  font-family: var(--font2);
  letter-spacing: 5px;
  letter-spacing: 3px;
}

.hero__paragraph{
  list-style: 1.5;
  margin-top: 1em;

}

.cta{
  margin-top: 1.5em;
  text-decoration: none;
  border: 1px solid white;
  color: white;
  padding: .8em 2em;
  display: inline-block;
  text-transform: uppercase;
}

.different{
  text-align: center;
}

.title--different{
  position: relative;
  /* padding-top:10px; */
}

.title--different::before{
  content: "";
  position: absolute;
  bottom:2em;
  left:0;
  right:0;
  margin:0 auto;
  width: 40%;
  height:1.5px;
  background-color:var(--Dark-Grayish-Violet);
}

.different__items{
  display: flex;
  flex-direction: column;
  gap:4em;
  margin-top: 3.5em;
}

/* Para ver todo separado como un cuadro
.different *{
  outline: 1px solid red;
} */

.different__icon{
  display: block;
  margin: 0 auto;
  margin-bottom: 1.5em;

}

.different__title{
  font-size: 1.5rem;
  font-family: var(--font2);
  letter-spacing: 2px;
}

.different__paragraph{
  color: var(--Dark-Grayish-Violet);
  line-height:1.5;
  margin-top:1em;
}


.find{
  padding: 80px 0;
  --padding-container: 50px 40px;
}

.find__container{
  background-color: var(--Dark-Violet);
  color: white;
  text-align: center;
}

.footer{
  background-color: var(--Very-Light-Gray);
}

.footer__brand{
  display: flex;
  flex-direction:column;
  align-items: center;
  gap:2em;
  padding-bottom: 2.5em;
  border-bottom: 1px solid var(--Dark-Grayish-Violet);
  margin-bottom: 2.5em;

}

.footer__contact{
  display: flex;
  align-items: center;
  gap:1.5em;
  
}

.footer__navigation{
  display: flex;
  flex-direction: column;
  gap:2.5em;
  align-items: center;
}

.footer__nav{
  display: flex;
  gap:1em;
  flex-direction: column;
  text-align: center;


}

.footer__link{
  text-decoration: none;
  color: var(--Dark-Violet);
  font-weight: 700;
  text-transform: uppercase;

}

.footer__link--first{
  color:var(--Dark-Grayish-Violet);
  margin-bottom: 1rem;
}

@media(min-width: 768px){
 
  
  .nav__links{
    display: block;
  }

  .nav__hamburguer{
    display: none;
  }

  .nav__links{
    display: flex;
    gap:2em;
    align-items: center;
  }

  .nav__link{
    text-decoration: none;
    color:var(--Dark-Grayish-Violet);
  }

  .nav__link-cta{
    border: 1px solid;
    color: var(--Dark-Violet);
  }

  .hero{ 
    background-image: linear-gradient(to bottom, var(--Dark-Violet) 80%, white 80%);
    --padding-container: 100px;
  } 

  .hero__main{
    width: 90%;
    display: flex;
    --padding-container:80px 0;
    justify-content: space-between;
    align-items: flex-start;
  }

  .hero__main::before{
    width: 58%;
    height: 500px;
    background-image: url('./images/image-intro-desktop.jpg');
    order:1;
  }

  .title{
    font-size: 2.5rem;
  }
    
  .hero__texts{
    position: relative;
    color:white;
    width: 50%;
    margin: 0;
    padding: 20px 0;
    text-align: left;
  }
  
  .hero__texts::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 1.5px;
    top:0;
    left:0;
    background-color: var(--Very-Light-Gray);
  }

  .different{ 
    text-align: left;
  }

  
  .title--different::before{
    margin:0;
  }
  
  .different__items{
    flex-direction: row;
    gap:2em;
    justify-content: space-between;
    align-items: center;
  }

  /* Para ver todo separado como un cuadro
  .different *{
    outline: 1px solid red;
  } */
  
  .different__icon{
    margin-left: 0;
  }

  .different__item{
    flex:1
  }
  
  .different__title{
    font-size: 1.5rem;
    font-family: var(--font2);
    letter-spacing: 2px;
  }
  
  .different__paragraph{
    color: var(--Dark-Grayish-Violet);
    line-height:1.5;
    margin-top:1em;
  }


  .find__container::before{
    content:"";
    position: absolute;
    width: 40%;
    height: 100%;
    top:0;
    right: 0;
    background-image: url('./images/bg-pattern-how-we-work-desktop.svg');
    background-size: cover;
    background-position: left;
  }
  
  
  .find__container{
    position: relative;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title--find{
    width: 60%;
  }
  
  .footer__brand{
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__navigation{
    gap:1.5em;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .footer__nav{
    width: 20%;
    align-items: flex-start;
  }


}


